selectclub {
  .toolbar-background {
    background: linear-gradient(to bottom, #207533 0%, #289642 100%);
  }
  .toolbar-title-ios {
    color: white;
  }
  .segment-ios {
    .segment-button {
      font-size: 1.1rem;
    }
  }
  .bar-button-menutoggle-ios {
    display: none !important;
  }
  [padding] {
    padding: 8px;
  }
  ion-footer {
    border-top: 0.55px solid #c8c7cc;
  }
}
