selectclub {
  .toolbar-background {
    background: linear-gradient(to bottom, #207533 0%, #289642 100%);
  }
  .toolbar-title-ios {
    color: white;
  }
  .item-ios ion-thumbnail[item-start] {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item-ios ion-thumbnail img {
    width: auto;
    height: 56px;
  }
  .segment-ios {
    .segment-button {
      font-size: 1.05rem;
    }
  }
  .bar-button-menutoggle-ios {
    display: none !important;
  }

}
