<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedClub">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>
      {{selectedClub.name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h4 text-center *ngIf="selectedClub">
    Capacity <b>{{selectedClub.capacity}}</b>
  </h4>  <h4 text-center *ngIf="selectedClub">
    Rivals <b>{{selectedClub.rival}}</b>
  </h4>
    <h4 text-center *ngIf="selectedClub">
    Founded <b>{{selectedClub.founded}}</b>
  </h4>
</ion-content>
